<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Applications</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function() {
        $('.clientDetail').click(function() {
          $('#clientDetailModalTitle').html('Update application');
          $('#saveBtn').removeClass('d-none');
          $('#createBtn').addClass('d-none');
          $("#clientId").prop('disabled', true);

          $('#clientId').val($(this).find('.clientId').html());
          $('#grantTypes').val($(this).find('.authorizedGrantTypes').html());
          $('#redirectUri').val($(this).find('.redirectUri').html());
          $('#accessTokenValiditySeconds').val($(this).find('.accessTokenValiditySeconds').html());
          $('#refreshTokenValiditySeconds').val($(this).find('.refreshTokenValiditySeconds').html());

          $('#clientDetailModal').modal('show');
        });

        $('#createAppBtn').click(function() {
          $('#clientDetailModalTitle').html('Create application');
          $('#saveBtn').addClass('d-none');
          $('#createBtn').removeClass('d-none');
          $("#clientId").prop('disabled', false);

          $('#clientId').val($(this).find('.clientId').html());
          $('#grantTypes').val('');
          $('#redirectUri').val('');
          $('#accessTokenValiditySeconds').val('');
          $('#refreshTokenValiditySeconds').val('');

          $('#clientDetailModal').modal('show');
        });

        $('#saveBtn').click(function() {
          $('#alertMsg').addClass('d-none');
          $(this).attr('disabled', true);
          $.ajax({
            url: '/api/client-details/' + $('#clientId').val().trim(),
            type: 'PUT',
            data: JSON.stringify({'authorizedGrantTypes': $('#grantTypes').val().trim(), 'redirectUri': $('#redirectUri').val().trim(),
              'accessTokenValiditySeconds': parseInt($('#accessTokenValiditySeconds').val(), 10), 'refreshTokenValiditySeconds': parseInt($('#refreshTokenValiditySeconds').val(), 10)}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            success: function(data) {
              location.reload();
            },
            error: function(xhr, textStatus) {
              $('#saveBtn').attr('disabled', false);
              $('#alertMsg').html(xhr.responseJSON.message);
              $('#alertMsg').removeClass('d-none');
            }
          });
        });

        $('#createBtn').click(function() {
          $('#alertMsg').addClass('d-none');
          $(this).attr('disabled', true);
          $.ajax({
            url: '/api/client-details',
            type: 'POST',
            data: JSON.stringify({'clientId': $('#clientId').val().trim(), 'authorizedGrantTypes': $('#grantTypes').val().trim(), 'redirectUri': $('#redirectUri').val().trim(),
              'accessTokenValiditySeconds': parseInt($('#accessTokenValiditySeconds').val(), 10), 'refreshTokenValiditySeconds': parseInt($('#refreshTokenValiditySeconds').val(), 10)}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            success: function(data) {
              $('#createBtn').attr('disabled', false);
              $('#alertMsg').addClass('d-none');
              $('#clientDetailModal').modal('hide');

              $('#resultClientId').val(data.clientId);
              $('#resultClientSecret').val(data.clientSecret);
              $('#clientDetailResultModal').modal('show');
            },
            error: function(xhr, textStatus) {
              $('#createBtn').attr('disabled', false);
              $('#alertMsg').html(xhr.responseJSON.message);
              $('#alertMsg').removeClass('d-none');
            }
          });
        });

        $('#copyClientId').click(function() {
          copy($('#resultClientId').val())
        });

        $('#copyClientSecret').click(function() {
          copy($('#resultClientSecret').val())
        });

        function copy(text) {
          navigator.clipboard.writeText(text).then(function() {
          }, function(err) {
            alert('Failed to copy to clipboard. Please copy the value manually.');
          });
        }

        $('#reloadBtn').click(function() {
            location.reload();
        });

      });
    </script>
  <style>
    .table {
      table-layout:fixed;
    }

    .table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="/">Fmning</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">User Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" th:text="${displayName}"></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
          </div>
          <form id="logout-form" th:action="@{/logout}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-3">
    <div class="col"><button id="createAppBtn" type="button" class="btn btn-primary float-end">Create Application</button></div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped table-hover">
        <thead class="table-light">
        <tr>
          <th scope="col">Client ID</th>
          <th scope="col">Grant Types</th>
          <th scope="col">Redirect URLs</th>
          <th scope="col">Token Timeout</th>
          <th scope="col">Refresh Timeout</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clientDetail" th:attr="client-detail-id=${clientDetail.clientId}" style="cursor: pointer" th:each="clientDetail : ${clientDetailList}">
          <th class="clientId" scope="row" th:text="${clientDetail.clientId}"></th>
          <td class="authorizedGrantTypes"  th:text="${clientDetail.authorizedGrantTypes}"></td>
          <td class="redirectUri" th:text="${clientDetail.redirectUri}"></td>
          <td class="accessTokenValiditySeconds" th:text="${clientDetail.accessTokenValiditySeconds}"></td>
          <td class="refreshTokenValiditySeconds" th:text="${clientDetail.refreshTokenValiditySeconds}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="clientDetailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientDetailModalTitle">Update application</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="alertMsg" class="alert alert-danger mb-3 d-none" role="alert"></div>
        <form>
          <div class="mb-3">
            <label for="clientId" class="mb-2">Client ID</label>
            <input type="text" class="form-control" id="clientId">
          </div>
          <div class="mb-3">
            <label for="grantTypes" class="mb-2">Grant Types</label>
            <input type="text" class="form-control" id="grantTypes">
          </div>
          <div class="mb-3">
            <label for="redirectUri" class="mb-2">Redirect URLs</label>
            <input type="text" class="form-control" id="redirectUri">
          </div>
          <div class="mb-3">
            <label for="accessTokenValiditySeconds" class="mb-2">Access Token Timeout</label>
            <input type="number" class="form-control" id="accessTokenValiditySeconds">
          </div>
          <div class="mb-3">
            <label for="refreshTokenValiditySeconds" class="mb-2">Refresh Token Timeout</label>
            <input type="number" class="form-control" id="refreshTokenValiditySeconds">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
        <button id="createBtn" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clientDetailResultModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <p>Here are the credentials for your application. Please save them properly as they will be gone after this window is closed.</p>
          <div class="mb-3">
            <label>Client ID</label>
            <div class="input-group">
              <input id="resultClientId" type="text" class="form-control" disabled>
              <div class="input-group-append">
                <button id="copyClientId" class="btn btn-outline-secondary" type="button"><i class="fa fa-clone" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label>Client Secret</label>
            <div class="input-group">
              <input id="resultClientSecret" type="text" class="form-control" disabled>
              <div class="input-group-append">
                <button id="copyClientSecret" class="btn btn-outline-secondary" type="button"><i class="fa fa-clone" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="reloadBtn" type="button" class="btn btn-success">I have saved the credentials</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>