<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand">Fm.ning</a>
        </div>
      </nav>

      <div class="container">
        <div class="row my-4">
          <div class="col text-center mt-4">
            <p class="lead">Log in with your email</p>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-6">
            <form th:action="${params}" method="post" name="signup">
              <div th:if="${param.prompt}" class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username (email)">
              </div>
              <div class="form-group my-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block my-4">Login</button>
            </form>
          </div>
        </div>
      </div>

  </body>
</html>
