<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      input[type=checkbox] {
        transform: scale(1.5);
      }
    </style>
  </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand">Fm.ning</a>
        </div>
      </nav>

      <div class="container">
        <div class="row my-4">
          <div class="col text-center mt-4">
            <p class="lead">Log in with your email</p>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-6">
            <form th:action="'/sso' + ${params}" method="post" name="signup">
              <div th:switch="${#httpServletRequest.getParameter('prompt')}">
                <div th:case="'logout'" class="alert alert-success mb-3" role="alert">
                  You have successfully logged out.
                </div>
                <div th:case="'reset'" class="alert alert-success mb-3" role="alert">
                  You have successfully reset your password.
                </div>
                <div th:case="'disabled'" class="alert alert-danger mb-3" role="alert">
                  Please verify your email address before logging in.
                </div>
                <div th:case="null"></div>
                <div th:case="*" class="alert alert-danger mb-3" role="alert">
                  Username or password is incorrect. Please try again.
                </div>
              </div>

              <div class="form-group my-3">
                <input type="text" class="form-control" style="height:50px;" id="username" name="username" placeholder="Username (email)">
              </div>
              <div class="form-group my-3">
                <input type="password" class="form-control" style="height:50px;" id="password" name="password" placeholder="Password">
              </div>
              <div class="form-group my-2">
                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="ml-2 mt-3" name="remember-me" /> <span class="ml-2 mt-1">Remember me</span>
                  </div>
                  <div class="col">
                    <a type="button" href="/sso/reset-password" class="btn btn-link float-right">Problems signing in?</a>
                  </div>
                </div>
              </div>
              <button id="loginBtn" type="submit" class="btn btn-primary btn-block my-4">Log in</button>
            </form>
          </div>
        </div>
      </div>

  </body>
</html>
