<html xmlns:th="https://www.thymeleaf.org">
    <head>
<!--        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--        <script>-->
<!--            function formInterceptor() {-->
<!--                var $form = $("signupForm");-->
<!--                console.log(1);-->
<!--                console.log($form);-->

<!--                $form.on('submit', function(e) {-->
<!--                    console.log(2);-->
<!--                    e.preventDefault();-->

<!--                    console.log($form.serialize());-->
<!--                    $.ajax({-->
<!--                        url : $form.attr('action'),-->
<!--                        type : 'post',-->
<!--                        data : $form.serialize(),-->
<!--                        success : function(response) {-->
<!--                            if ($(response).find('.has-error').length) {-->
<!--                                $form.replaceWith(response);-->
<!--                            }-->
<!--                            else{-->
<!--                                $("#ajaxLoadedContent").replaceWith(response);-->
<!--                            }-->
<!--                        }-->
<!--                    });-->
<!--                });-->
<!--            };-->
<!--        </script>-->
<!--        <script>formInterceptor();</script>-->
    </head>
    <body>
    <div class="container">
        <h1>SignUp !</h1>
        <p th:text="${params}">Text ...</p>
        <p th:text="${param.client_id}">Test</p>
        <div class="col-md-6">
            <div class="row">
                <p><a href="/oauth2/authorize/google"><img src="http://pngimg.com/uploads/google/google_PNG19635.png" style="height:60px"></a></p>
            </div>
            <div class="row">
                <h4>OR</h4>
                <div th:if="${param.prompt}">
                    Invalid username or password
                </div>
                <div class="row">
                    <form th:action="${params}" method="post" name="signup" id="signupForm">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" name="password">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="pwd">Password:</label>-->
<!--                            <input type="password" class="form-control" id="pwd" name="password">-->
<!--                        </div>-->
                        <button type="submit" class="btn btn-primary">Login</button>
<!--                        <button id="loginBtn" class="btn btn-primary">Login1</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
