<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#recoveryBtn').click(function() {
          $(this).attr('disabled', true);
          $.ajax({
            url: '[[${contextPath}]]/send-recovery-email',
            type: 'POST',
            data: JSON.stringify({'username': $('#username').val()}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            success: function(data) {
              $('#alertMsg').addClass('d-none');
              $('#recoveryBtn').attr('disabled', false);
              $('#recoverySection').addClass('d-none');
              $('#resetSection').removeClass('d-none');
            },
            error: function(request, error) {
              $('#recoveryBtn').attr('disabled', false);
              $('#alertMsg').html('The username is not found.');
              $('#alertMsg').removeClass('d-none');
            }
          });
        });

        $('#resetBtn').click(function() {
          if ($('#password').val() != $('#confirmPassword').val()) {
            $('#alertMsg').html('The two passwords you entered does not match.');
            $('#alertMsg').removeClass('d-none');
            return;
          } else if ($('#password').val().length < 6) {
            $('#alertMsg').html('New passwords needs to be at least 6 characters.');
            $('#alertMsg').removeClass('d-none');
            return;
          }

          $('#alertMsg').addClass('d-none');
          $(this).attr('disabled', true);

          $.ajax({
            url: '[[${contextPath}]]/reset-password',
            type: 'POST',
            data: JSON.stringify({'passwordResetCode': $('#passwordResetCode').val(), 'username': $('#username').val(), 'password': $('#password').val()}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            success: function(data) {
              window.location.href = '[[${contextPath}]]/login?prompt=reset';
            },
            error: function(xhr, textStatus) {
              $('#resetBtn').attr('disabled', false);
              if (xhr.status == 400) {
                $('#alertMsg').html('Bad format.');
                $('#alertMsg').removeClass('d-none');
              } else if (xhr.status == 401) {
                $('#alertMsg').html('The recovery code does not match our record.');
                $('#alertMsg').removeClass('d-none');
              }
            }
          });
        });

      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" th:href="${contextPath}">Fmning</a>
      </div>
    </nav>

    <div class="container">
      <div class="row my-4">
        <div class="col text-center mt-4">
          <p class="lead">Password reset</p>
        </div>
      </div>

      <div class="row justify-content-center my-3">
        <div class="col-md-6 col-sm-12">

          <div id="alertMsg" class="alert alert-danger mb-3 d-none" role="alert"></div>

          <div id="recoverySection">
            <div class="form-group my-3">
              <label>Enter your username (email)</label>
              <input type="text" class="form-control" style="height:50px;" id="username" name="username" placeholder="Username (email)">
            </div>
            <button id="recoveryBtn" class="btn btn-primary btn-block my-4">Send recovery email</button>
          </div>

          <div id="resetSection" class="d-none">
            <div class="form-group my-3">
              <label>Enter the recovery code sent to your email</label>
              <input type="text" class="form-control" style="height:50px;" id="passwordResetCode" name="passwordResetCode" placeholder="Recovery code">
            </div>
            <div class="form-group my-3">
              <label>New password</label>
              <input type="password" class="form-control" style="height:50px;" id="password" name="password" placeholder="New password">
            </div>
            <div class="form-group my-3">
              <label>Confirm new password</label>
              <input type="password" class="form-control" style="height:50px;" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password">
            </div>
            <button id="resetBtn" class="btn btn-primary btn-block my-4">Reset password</button>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
